<%= form_with(model: flayer, local: true) do |form| %>
  <% if flayer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flayer.errors.count, "error") %> prohibited this flayer from being saved:</h2>

      <ul>
      <% flayer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-box" style="margin:auto;">
    <%= form.label :Título, class: "label-form"%>
    <%= form.text_field :tittle, class: "input-form"%>
    <%= form.label :Imagen, class:"label-form"%>
    <%=form.file_field :image, class:"input-form"%>
    <div class="row-flex-div" style="margin:1rem auto; width:25% ">
        <%= form.submit "Subir flayer", :class =>"btn btn-primary"%>
        <%= link_to 'Volver', flayers_path, class:"btn btn-secondary"%>
    </div>
  </div>
  
<% end %>
