<p id="notice"><%= notice %></p>

<h1>Flayers</h1>

<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flayers.each do |flayer| %>
      <tr>
        <td><%= flayer.tittle %></td>
        <td><%= link_to 'Show', flayer %></td>
        <td><%= link_to 'Edit', edit_flayer_path(flayer) %></td>
        <td><%= link_to 'Destroy', flayer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flayer', new_flayer_path %>
