<p id="notice"><%= notice %></p>
<div class="light-title">
    Afiches
    <hr/>
</div>
<body>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre o título</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flayers.each do |flayer| %>
      <tr>
        <td scope="row"><%= flayer.tittle %></td>
        <td scope="row"><%= link_to 'Editar', edit_flayer_path(flayer) %></td>
        <td scope="row"><%= link_to 'Eliminar', flayer, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar el flayer?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo flayer', new_flayer_path, class: "btn btn-primary"%>

</body>