<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 10px 5px 0px 5px;
  display: inline-block;
}

.container {
  border-radius: 5px;
  padding: 5px;
}

.col-25 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 55%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="row">
    <div class="col-25">
    <%= form.label :rfid, "Código MIFARE" %>
    </div>
    <div class="col-75">
      <%= form.text_field:rfid %>
      <%= form.label :rut, "RUT" %>
      <%= form.text_field:rut %>
    </div>
  </div>
  </div>
 
   <div class="container">
  <div class="row">
    <div class="col-25">
     <%= form.label :nombre, "Nombre Completo"%>
    </div>
    <div class="col-75">
      <%= form.text_field:nombre %>
    </div>
  </div>
  </div>
   <div class="container">
  <div class="row">
    <div class="col-25">
     <%= form.label :nalumno, "Número de alumno"%>
    </div>
    <div class="col-75">
      <%= form.text_field:nalumno %>
    </div>
  </div>
  </div>
   <div class="container">
  <div class="row">
    <div class="col-25">
    <%= form.label :sit_academica, "Situación Académica"%>
    </div>
    <div class="col-75">
      <%= form.select :sit_academica, options_for_select([["Seleccionar", ""], "Vigente", "Ex-Alumno", "Adminstrativo"])%>
    </div>
  </div>
  </div>
   <div class="container">
  <div class="row">
    <div class="col-25">
     <%= form.label :correo, "Correo Electrónico"%>
    </div>
    <div class="col-75">
      <%= form.text_field:correo %>
    </div>
  </div>
  </div>
<div class = "container">
  <div class = "row">
    <div class = "col-25">
     <%= form.submit "Guardar", :class => "btn btn-primary"%>
    </div>
    <div class="col-75">
    <%= link_to 'Volver', students_path %>
    </div>
    
  </div>
</div>
<% end %>
