


<h2>Estudiantes:</h2>

<body>
 <table class="table">
  <thead>
    <tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
    <th scope="col">RUN</th>
    <th scope="col">Situación Acadámica</th>
    <th scope="col">Correo UC</th>
    </tr>
    </thead>
    <tbody>
    <%@students.each do |student|%>
    <tr>
    <th scope="row"><%=student.id%></td>
    <td><%=link_to student.nombre, student%></td>
    <td><%=student.rut%></td>
    <td><%=student.sit_academica%></td>
    <td><%=student.correo%></td>
    <%end%>
    </tr>
    </tbody>
    </table>  
</body>


<div>
<%= form_tag import_students_path, multipart: true do%>
<%= file_field_tag :file%>
<%= submit_tag 'Cargar Datos', class: "btn btn-primary"%>
<%end%>
</div>
