<p id="notice"><%= notice %></p>
<h2>informaci칩n estudiante </h2>
 <table class="table">
  <thead>
    <tr>
    <th scope="col">Nombre</th>
    <th scope="col">RUN</th>
    <th scope="col">C칩digo MIFARE</th>
    <th scope="col">Situaci칩n Acad치mica</th>
    <th scope="col">Correo UC</th>
    <th scope="col">Laboratorios Autorizados</th>
    </tr>
    </thead>
    <tbody id="student">
    <tr>
    <td scope="row"><%=@student.nombre%></td>
    <td><%=@student.rut%></td>
    <td><%=@student.rfid%></td>
    <td><%=@student.sit_academica%></td>
    <td><%=@student.correo%></td>
    <%@student.laboratories.each do |lab|%>
    <td><%=lab.nombre%></td>
    <%end%>
    </tr>
    </tbody>
    </table>  

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

