<h2>Información del estudiante </h2>
 <table class="table">
  <thead>
    <tr>
    <th scope="col">Nombre</th>
    <th scope="col">RUN</th>
    <th scope="col">Código MIFARE</th>
    <th scope="col">Situación Acadámica</th>
    <th scope="col">Correo UC</th>
    <th scope="col">Laboratorios Autorizados</th>
    </tr>
    </thead>
    <tbody id="student">
    <tr>
    <td scope="row"><%=@student.nombre%></td>
    <td><%=@student.rut%></td>
    <td><%=@student.rfid%></td>
    <td><%=@student.sit_academica%></td>
    <td><%=@student.correo%></td>
    <%@student.laboratories.each do |lab|%>
    <td><%=lab.nombre%></td>
    <%end%>
    </tr>
    </tbody>
    </table>  

<h4>Ultimos registros</h4>

<%if @student.records.any?%>
<table class="table">
  <thead>
    <tr>
    <th scope="col">Laboratorio</th>
    <th scope="col">Tipo</th>
    <th scope="col">Acción</th>
    </tr>
    </thead>
    <tbody id="records">
    <tr> 
    <%previus_record = @lasets_records[0]%>
    <%previus_lab = @lasets_records[0].lab_id%>
    <%previus_type = @lasets_records[0].tipo%>
    <%@lasets_records.each do |record|%>
    <td scope="row"><%=@labs.find(record.lab_id).nombre%></td>
    <td><%=record.tipo == 't' ? "Ingreso": "Salida" %></td>
    <%if previus_lab != record.lab_id && previus_type =='t' && record.tipo =='f'%>
    <td>Alerta!</td>
    <%inconsistency(previus_record, record)%>
</td>
    <%end%>
    <%previus_record = record%>
    <%previus_lab = record.lab_id%>
    <%previus_type = record.tipo%>
    </tr>
     <%end%>
     </tbody>
    </table>
    <%end%>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>



