<h2>Información del estudiante </h2>
 <table class="table">
  <thead>
    <tr>
    <th scope="col">Nombre</th>
    <th scope="col">RUN</th>
    <th scope="col">Código MIFARE</th>
    <th scope="col">Situación Acadámica</th>
    <th scope="col">Correo UC</th>
    <th scope="col">Laboratorios Autorizados</th>
    </tr>
    </thead>
    <tbody id="student">
    <tr>
    <td scope="row"><%=@student.nombre%></td>
    <td><%=@student.rut%></td>
    <td><%=@student.rfid%></td>
    <td><%=@student.sit_academica%></td>
    <td><%=@student.correo%></td>
    <%@student.laboratories.each do |lab|%>
    <td><%=lab.nombre%></td>
    <%end%>
    </tr>
    </tbody>
    </table>  



<%if @student.records.any?%>
<h4>Ultimos registros</h4>
<table class="table">
  <thead>
    <tr>
    <th scope="col">Laboratorio</th>
    <th scope="col">Hora de registro</th>
    <th scope="col">Fecha de registro</th>
    <th scope="col">Tipo</th>
    </tr>
    </thead>
    <tbody id="records">
    <tr> 
    <%@lasets_records.each do |record|%>
    <td scope="row"><%=@labs.find(record.lab_id).nombre%></td>
    <td><%=record.created_at.to_s.split(' ')[0]%></td>
    <td><%=record.created_at.to_s.split(' ')[1]%></td>
    <td><%=record.tipo == 't' ? "Ingreso": "Salida" %></td>
</td>
    </tr>
     <%end%>
     </tbody>
    </table>
    <%end%>


<%if @fouls.any?%>
<h4>Faltas</h4>
<table class="table">
  <thead>
    <tr>
    <th scope="col">Laboratorio</th>
    <th scope="col">Fecha</th>
    <th scope="col">Hora</th>
    <th scope="col">Descripción</th>
    </tr>
    </thead>
    <tbody id="records">
    <tr> 
    <%@fouls.each do |record|%>
    <td scope="row"><%=@labs.find(record.lab_id).nombre%></td>
    <td><%=record.created_at.to_s.split(' ')[0]%></td>
    <td><%=record.created_at.to_s.split(' ')[1]%></td>
    <td><p><%=record.description%></p></td>
    </tr>
     <%end%>
     </tbody>
    </table>
    <%end%>

<%= link_to 'Volver', students_path %>



