
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<p id="notice"><%= notice %></p>

<h2>Visitas:</h2>

<body>

<div class="right">
<%= button_to "Descargar CSV", records_path(@records, format: :csv), method: :get, class: "btn btn-dark"%>
</div>

<ul class="nav nav-tabs" role= "tablist"> 
  <li class="nav-item">
    <a class ="nav-link active" id="today-tab" href=#today data-toggle="tab" role="tab"  aria-controls="today" aria-selected ="true">Hoy</a>
  </li>
  <li class="nav-item">
    <a class ="nav-link" id="week-tab" href=#week data-toggle="tab" role="tab" aria-controls="week" aria-selected ="true">Semana</a>
  </li>
  <li class="nav-item">
    <a class ="nav-link" id="month-tab" data-toggle="tab" href=#month  role="tab" aria-controls="month" aria-selected ="true">Mes</a>
  </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab">
    <table class="table table-bordered">
    <thead>
    <tr>
    <th scope="col">RUN</th>
    <th scope="col">Institución</th>
    <th scope="col">Motivo</th>
    </tr>
    </thead>
    <tbody>
    <%@visits_day.each do |visit|%>
    <tr>
    <td scope="row"><%=visit.rut%></td>
    <td><%=visit.institucion%></td>
    <td><%=visit.motivo%></td>
    <td><%=link_to "Ver más", visit%></td>
    
    </tr>
    <%end%>
    </tbody>
    </table>  
    </div>



    <div class="tab-pane fade" id="week" role="tabpanel" aria-labelledby="week-tab">
      <table class="table table-bordered">
      <thead>
      <tr>
      <th scope="col">RUN</th>
      <th scope="col">Institución</th>
      <th scope="col">Motivo</th>
      </tr>
      </thead>
      <tbody>
      <%@visits_week.each do |visit|%>
      <tr>
      <td scope="row"><%=visit.rut%></td>
      <td><%=visit.institucion%></td>
      <td><%=visit.motivo%></td>
      <td><%=link_to "Ver más", visit%></td>
      </tr>
      <%end%>
      </table> 
      </tbody>
      </div>

    <div class="tab-pane fade" id="month" role="tabpanel" aria-labelledby="month-tab">
      <table class="table table-bordered">
      <thead>
      <tr>
      <th scope="col">RUN</th>
      <th scope="col">Institución</th>
      <th scope="col">Motivo</th>
      </tr>
      </thead>
      <tbody>
      <%@visits_month.each do |visit|%>
      <tr>
      <td scope="row"><%=visit.rut%></td>
      <td><%=visit.institucion%></td>
      <td><%=visit.motivo%></td>
      <td><%=link_to "Ver más", visit%></td>
      </tr>
      <%end%>
      </table> 
      </tbody>
      </div>
</body>


<div class="left" id="buttonFile">
<%= form_tag import_visits_path, multipart: true do%>
<%= file_field_tag :file%>
<%= submit_tag 'Cargar Datos', class: "btn btn-primary"%>
<%end%>
</div>

</body>


