<%= form_with(model: laboratory, local: true) do |form| %>
  <% if laboratory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laboratory.errors.count, "error") %> prohibited this laboratory from being saved:</h2>

      <ul>
      <% laboratory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :facultad %>
    <%= form.text_field :facultad %>
  </div>

  <div class="field">
    <%= form.label :campus %>
    <%= form.text_field :campus %>
  </div>

   <div class="field">
    <%= form.label :capacidad %>
    <%= form.text_field :capacity %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn' %>
  </div>
<% end %>
