<% if flash[:success] %>
          <div class="alert success">
		      <input type="checkbox" id="alert1"/>
          <label class="close" title="close" for="alert1">
           <i class="icon-remove"></i>x
          </label>
	      	<p class="inner">
		    	<strong><%= flash[:success] %></strong></p>
          </div>
    <% end %>

<h2>Administradores Laboratorios</h2>

<div class="right">
<a href="/admin/users/new" class="btn btn-dark">Agregar nuevo admin</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Usuario</th>
      <th scope="col">Laboratorio</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%@users.each do |user|%>
    <tr>
      <th scope="row"><%=user.id%></th>
      <td><%=user.email%></td>
      <td><%=@labs.find(user.lab_id).nombre%></td>
      <td><a data-confirm="Estas seguro que deseas eliminar el usuario?" data-method="delete" href="users/<%=user.id%>"><i class="material-icons" style="font-size:28px;color:red">delete</i></a></td>
      <td><a href="users/reset_password?id=<%=user.id%>" data-method="post" data-confirm="Estas seguro? la nueva contrase침a ser치 usuarioucA침o">Restablecer contrase침a</a></td>
    </tr>
    <%end%>
  </tbody>
</table>



