<%= form_with(model: @User, local: true) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="password">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
   <div class="rol">
    <%= form.label :rol %>
    <%= form.text_field :lab_id%>
  </div>
   <div class="lab_id">
    <%= form.label :lab_id %>
    <%= form.text_field :lab_id%>
  </div>


  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>
