<h2>Registros:</h2>
  <div id="buttonFile">
  <%= form_tag import_records_path, multipart: true do%>
  <%= file_field_tag :file%>
<%= submit_tag 'Cargar Datos'%>
<%end%>
<%= button_to 'Expulsar Estudiantes', button_path, method: :get %>
</div>

</div>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
<%activos = 0%>
<%inactivos = 0%>
<%=@laboratory.nombre%>
 <%@records_day.each do |record|%>
<%if record.student.status == true and not record.student.status == nil%>
      <%activos+=1%>
<%else%>
      <%inactivos+=1%>
<%end%>
<%end%>
<div>
Usuarios en laboratorio:
<%=activos-inactivos%>
</div>

<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="Hoy" checked>
  <label for="tab1">Hoy</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="Semana">
  <label for="tab2">Semana</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="Mes">
  <label for="tab3">Mes</label>
  <!-- Tab 4 -->
  <input type="radio" name="tabset" id="tab4" aria-controls="Ranking">
  <label for="tab4">Ranking</label>
  
  <div class="tab-panels">
    <section id="Hoy" class="tab-panel">
    <table id= "records">
    <tr>
    <th>Nombre</th>
    <th>Fecha Registro</th>
    <th>Hora Registro</th>
    <th>Tipo</th>
    <th>Matriculado</th>
    </tr>
    <%@records_day.each do |record|%>
    <tr>
    <td><%=record.student.nombre%></td>
     <td><%=record.created_at.to_s.split(' ')[0]%></td>
    <td><%=record.created_at.to_s.split(' ')[1]%></td>
    <%if record.tipo == 't'%>
      <td><%='Ingreso'%></td>
    <%else%>
      <td><%='Salida'%></td>
    <%end%>
    <% if record.student.laboratories.ids.include?(@laboratory.id)%>
        <td><i class="material-icons" style="font-size:28px;color:blue">check</i></td>
      <%else%>
        <td><i class="material-icons" style="font-size:28px;color:red">clear</i>
        <form action="/students/enroll" method="post"><div>
        <input id=<%=record.id%> name = 'student_id[]' value =<%=record.student.id%> type= 'checkbox'>
        <label for=<%=record.id%>> Matricular </label></td>
        </div>
      </tr>
      <%end%>
    <%end%>
    </table>  
  </section>
    <section id="Semana" class="tab-panel">
     <table id= "records">
      <tr>
      <th>Nombre</th>
      <th>Fecha Registro</th>
      <th>Hora Registro</th>
      <th>Tipo</th>
      <th>Matriculado</th>
      </tr>
      <%@records_week.each do |record|%>
      <tr>
      <td><%=record.student.nombre%></td>
      <td><%=record.created_at.to_s.split(' ')[0]%></td>
      <td><%=record.created_at.to_s.split(' ')[1]%></td>
      <%if record.tipo == 't'%>
      <td><%='Ingreso'%></td>
      <%else%>
      <td><%='Salida'%></td>
      <%end%>
       <% if record.student.laboratories.ids.include?(@laboratory.id)%>
        <td><i class="material-icons" style="font-size:28px;color:blue">check</i></td>
      <%else%>
        <td><i class="material-icons" style="font-size:28px;color:red">clear</i>
        <form action="/students/enroll" method="post"><div>
        <input id=<%=record.id%> name = 'student_id[]' value =<%=record.student.id%> type= 'checkbox'>
        <label for=<%=record.id%>> Matricular </label></td>
        </div>
      </tr>
      <%end%>
      <%end%>
      </table> 
    </section>
    <section id="Mes" class="tab-panel">
      <table id= "records">
      <tr>
      <th>Nombre</th>
      <th>Fecha Registro</th>
      <th>Hora Registro</th>
      <th>Tipo</th>
      <th>Matriculado</th>
      </tr>
      <%@records_month.each do |record|%>
      <tr>
      <td><%=record.student.nombre%></td>
      <td><%=record.created_at.to_s.split(' ')[0]%></td>
      <td><%=record.created_at.to_s.split(' ')[1]%></td>
      <%if record.tipo == 't'%>
      <td><%='Ingreso'%></td>
      <%else%>
      <td><%='Salida'%></td>
       <%end%>
       <% if record.student.laboratories.ids.include?(@laboratory.id)%>
        <td><i class="material-icons" style="font-size:28px;color:blue">check</i></td>
      <%else%>
        <td><i class="material-icons" style="font-size:28px;color:red">clear</i>
        <form action="/students/enroll" method="post"><div>
        <input id=<%=record.id%> name = 'student_id[]' value =<%=record.student.id%> type= 'checkbox'>
        <label for=<%=record.id%>> Matricular </label></td>
        </div>
      </tr>
      <%end%>
      <%end%>
      </table> 
    </section>
    <section id="Ranking" class="tab-panel">
    <table id= "records">
     <tr>
    <th>Nombre</th>
    <th>Cantidad de registros</th>
    </tr>
    <%@students_ranking.each do |s|%>
    <tr>
    <td><%=link_to s.nombre, s%></td>
    <td><%=s.records.count%></td>
    </tr>
    <%end%>
    
    </div>
    </table>
    </section>
    </div>

  


<input type = 'submit' value = 'Matricular'>

<%= button_to "Descargar CSV", records_path(@records, format: :csv), method: :get %>
</div>




