<div class="row-flex-div">
    <div class="column-flex-div">
        <div class="row-profile"><p class="name"><%=@student.nombre%></p></div>
        <div class="row-profile"><p class="bold">RUT: </p> <p class="element"><%=@student.format_rut%></p></div>
        <div class="row-profile"><p class="bold">N Alumno:</p> <p class="element"><%=@student.nalumno%></p></div>
        <div class="row-profile"><p class="bold">MIFARE:</p><p class="element"> <%=@student.rfid%></p></div>
        <div class="row-profile"><p class="bold">Sit. Acadámica:</p> <p class="element"><%=@student.sit_academica%></p></div>
        <div class="row-profile"><p class="bold">Correo UC:</p> <p class="element"><%=@student.correo%></p></div>
        <div class="row-profile"><p class="bold">Carrera:</p><p class="element"> <%=@student.major%></p></div>
        <div class="row-profile"><p class="bold">Horas disponible: </p><p class="element"><%=@student.current_wallet.hours%></p></div>
        <%if @student.laboratories.empty?%>
            <%@student.laboratories.each do |lab|%>
            <div><%=lab.nombre%></div>
            <%end%>
        <%end%>
    </div>
    <div class="column-flex-div">
        <h4 style="margin:0 auto">Modificar horas</h4>
        <form action="modify_wallet" style="display:flex;flex-direction:column" method="post">
            <input class="hours-input" name="hours" type="decimal" value=<%=@student.current_wallet.hours%>>
            <button class="btn btn-primary" style>Guardar</button>
         </form>
    </div>
</div>

