<p id="notice"><%= notice %></p>

<% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Ups! </strong> <%= flash[:alert] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% end %>
<h1 style="text-align: center">Plataforma de reservas </h1>
<div style="text-align: right">
  <a class="btn btn-primary" href="/reservations/my_reservations">Mis reservas</a>
</div>
<div class="row-flex-div" style="justify-content: start">
  <% @laboratories.each do |lab| %>
    <div class="card" style= "padding: 0;align-items: center;">
      <div class="row-flex-div" style="align-items:center;">
        <div class="column-flex-div">
          <p class="lil-title" style="margin-bottom: 3px"><%= lab.nombre %></p>
          <p style="margin:0"><%= lab.campus %></p>
        </div>
        <a class="btn btn-secondary" style="color:white;" href="/machines/lab/<%= lab.id %>"> Seleccionar </a>
      </div>
    </div>
  <% end %>
</div>
