
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login">
    <div>
    <h1> Ingresa para continuar</h1>
    <%= f.text_field :email, autocomplete: "Usuario", placeholder: "Usuario"  %>
    </div>
    <div>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Contraseña" %>
    </div>
    <div>
    <%= f.submit "Enviar"%>
    </div>
    <% if flash[:alert] %>
          <div class="alert error">
		      <input type="checkbox" id="alert1"/>
          <label class="close" title="close" for="alert1">
           <i class="icon-remove"></i>x
          </label>
	      	<p class="inner">
		    	<strong><%= flash[:alert] %></strong></p>
          </div>
    <% end %>
  </div>
<% end %>
