<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-signin text-center"}) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>
    <div>
      <%= f.text_field :email, placeholder:"Correo Electrónico", :class=>"form-control"%>
    </div>
    <div>
    <%= f.password_field :password, placeholder: "Contraseña",:class=>"form-control"%>
    </div>
    <div>
    <%= f.submit "Ingresar", :class => "btn btn-lg btn-primary btn-block"%>
    </div>
<% end %>
<div class="text-center">
  <% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>ups! </strong> <%= flash[:alert] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>

