<!DOCTYPE html>
<html>
  <head>
    <title>RED DE LABORATORIOS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-bar-blue">
    <div class="container-fluid">
      <a class="navbar-brand"  href="/"><%= image_tag "BRAND.png" %></a>
      <ul class="navbar-nav ml-auto">
        <% if signed_in? %>
          <li class="nav-item">
            <a class="nav-link nav-link-medium active" href="/laboratories">Registros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-medium active" href="/students">Estudiantes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link-medium active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Más</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/visits">Visitas</a>
              <a class="dropdown-item" href="/students/new">Inscribir Estudiante</a>
              <a class="dropdown-item" href="/update_password">Cambiar contraseña</a>
              
            </div>
          </li>
          <% if can? :manage, Laboratory %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-link-medium active" href="#" id="navbarDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item"  href="/laboratories">Administrar Labs</a>
                <a class="dropdown-item" href="/admin/users">Administrar Usuarios</a>
                <a class="dropdown-item" href="/flayers">Administrar Flayers</a>
              </div>
            </li>
          <% end %>
            <%= link_to "Cerrar Laboratorio", button_path, method: :get ,:class =>"btn navbar-btn btn-danger" %>
          <% else %>
            <%= link_to "Ingresar", new_user_session_path , :class =>"btn btn-light"%>
        <% end %>
      </ul>  
    </div>
  </nav> 
  <body class="body-general">
    <%= yield %>
  </body>
</html>
